    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('user', username=post.author.username) }}">
                </a>
            </td>
            <td>
                {% set user_link %}
                    <a href="{{ url_for('user', username=post.author.username) }}">
                        {{ post.author.username }}
                    </a>
                {% endset %}
                {{ _('%(username)s - %(when)s',
                    username=user_link, when=moment(post.timestamp).fromNow()) }}
                <br><b>Job Title</b> - {{post.position_title}}
                <br><b>Job Location</b> - {{post.physical_address}}
                <br><b>Job Contact Number</b> - {{post.contact_phone}}
                <br><b>Other Relevant Information</b> - {{ post.body }}
                <br>
            </td>
        </tr>
    </table>
