{% extends "base.html" %}

{% block app_content %}
<img src="https://fs-01.cyberdrop.cc/firefly-logo-RsXx3RYz.png" class="center" style="margin-left:auto; margin-right: auto; width: 25%; display:block ">
<div class="column" style="margin-left:auto; margin-right: auto; width: 50%; display:block">
    <p>Firefly Charity is a student-initiated group with the goal to raise funds for the Xiao Ju Deng Deaf-Mute Children’s Recovery Centre in hopes of ultimately helping the children recover from not only hearing-disabilities but also have the happy childhood they deserve, eventually assimilating into society as a fully functional individual just like all the other children.</p>
</div>

{% endblock %}
